.main{
    text-align: center;
    font-family: sans-serif;
    
}
.p{
    font-size: x-large;
}
.btn{
    color: aqua;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.67);

}
